<form action="/set_name" method="post">
  <fieldset>
    <legend>Set Your name</legend>
    <label>Name</label>
    <input type="text" name="name"><br>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>