<form action="/set_name" method="post">
  <fieldset>
    <legend>Set Your name</legend>
    <label>Name</label>
    <input type="text" name="player_name"><br>
    <input type="submit" class="btn" value="Add Player">
  </fieldset>
</form>